@charset "utf-8";
/* CSS Document */

a,img,span,ul,li,ol,dt,dl,dd,textarea,body,input,p,div,h1,h2,h3,h4{ margin:0; padding:0; border:0; list-style:none;}
body{ font-size:13px; color:#909090; font-family:"微软雅黑"; margin-top:10px; margin-left:5px; margin-rigth:5px; margin-bottom:20px;}
div{ border:1px; background:#fff; width:100%; display:block; padding:4px; box-sizing:border-box;}
div img{ float:center; width:100%;}

















