@charset "utf-8";
/* CSS Document */

a,img,span,ul,li,ol,dt,dl,dd,textarea,body,input,p,div,h1,h2,h3,h4{ margin:0; padding:0; border:0; list-style:none;}
body{ font-size:15px; color:#333; font-family:"微软雅黑"; background:#eee;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none; color:#333;}
/*-----头部--------------------*/
.top{ width:100%; height:100px; background:#d65645; display:block; border-bottom-left-radius:50%; border-bottom-right-radius:50%; position:relative;}
.top a{ color:#fff;  background:url(../../images/redpaper/icon01.png) no-repeat left center;  padding:10px 0 0 35px; background-size:25px; background-position: left 15px; margin:20px; line-height:50px;}
.top .pic{ width:80px; height:80px; background:#ccc; position:absolute; top:60px; left:50%; margin-left:-40px; border-radius:50%; border:2px solid #fcd849; box-sizing:border-box;}
/* .top p{ position:absolute; top:205px; left:50%; margin-left:-30px; font-size:16px;} */
.top div{ position:absolute;width:100%; top:150px; }
.top p{ text-align:center;font-size:14px;}
/*-----文字--------------------*/
.con{ width:80%; margin:0 auto; margin-top:80px;}
.con h4{ text-indent:1em; font-weight:normal; color:#000;}
.con h2{ text-align:center; color:#ff0000; font-size:25px; font-weight:normal; line-height:60px;}
.con .p1{font-size:10px;}
.con .p2{font-size:10px; margin-top:30px; border-top:1px solid #333;}
.con .p2 span{ line-height:50px;}

/*-----底部--------------------*/
.footer{ width:100%; height:50px; background:#d65645; display:block; border-top-left-radius:50%; border-top-right-radius:50%; position:fixed; bottom:0; text-align:center; line-height:50px;}
.footer span{ color:#fff;}






































