@charset "utf-8";
/* CSS Document */

a,img,span,ul,li,ol,dt,dl,dd,textarea,body,input,p,div,h1,h2,h3,h4{ margin:0; padding:0; border:0; list-style:none;}
body{ font-size:18px; color:#333; font-family:"微软雅黑"; background:#eee;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none; color:#333;}


.tab ul li:nth-child(2){ padding:10px; padding-top:20px; box-sizing:border-box;}
.tab ul li:nth-child(2) div{ overflow:hidden; position:relative;}
.tab ul li:nth-child(2) div span{ float:left; font-size:16px;}
.tab ul li:nth-child(2) div .left b{ color:#fb552d;}
.tab ul li:nth-child(2) div .right{ position:absolute; right:0;}
.tab ul li:nth-child(2) div .right a{ font-size:12px; color:#a1a1a1; background:url(../images/icon05.png) no-repeat left center; padding-left:15px;}
.tab ul li:nth-child(2) div .center{ position:absolute; left:50%; top:-34%; font-size:24px; margin-left:-38px; color:#ff0000; font-weight:bold;}


.tab ul li:nth-child(2) .con{ width:100%; margin:20px auto; border-top:1px solid #c6c6c6; padding:10px; box-sizing:border-box;}
.tab ul li:nth-child(2) .con div{ border:1px solid #c6c6c6; background:#fff; width:100%; height:60px; margin-bottom:10px; display:block; padding:4px; box-sizing:border-box;}
.tab ul li:nth-child(2) .con div img{ float:left; width:50px;}
.tab ul li:nth-child(2) .con div .p1{ text-align:left; font-size:12px; color:#666; line-height:15px; margin-left:8px; float:left;}
.tab ul li:nth-child(2) .con div .p1 span{ font-size:14px; color:#333; line-height:15px;}
.tab ul li:nth-child(2) .con div .p2{ float:right; height:59px; margin:-5px; border-left:1px solid #c6c6c6; line-height:60px; text-align:center; color:red; font-size:14px; padding:0 6px; box-sizing:border-box;}



















