@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
    html {
      font-size: 144px;
    }
  }
  @media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
    html {
      font-size: 128px;
    }
  }
  @media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    html {
      font-size: 106.66666666666667px;
    }
  }
  @media only screen and (max-width: 750px), only screen and (max-device-width: 750px) {
    html {
      font-size: 100px;
    }
  }
  @media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
    html {
      font-size: 96px;
    }
  }
  @media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
    html {
      font-size: 85.33333333333334px;
    }
  }
  @media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
    html {
      font-size: 80px;
    }
  }
  @media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
    html {
      font-size: 72px;
    }
  }
  @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    html {
      font-size: 64px;
    }
  }
  @media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
    html {
      font-size: 55.2px;
    }
  }

  @media only screen and (max-width: 412px), only screen and (max-device-width: 412px) {
    html {
      font-size: 54.9333333px;
    }
  }


  @media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
    html {
      font-size: 53.333333333333336px;
    }
  }
  @media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
    html {
      font-size: 50px;
    }
  }
  @media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
    html {
      font-size: 48px;
    }
  }
  @media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
    html {
      font-size: 42.66666666666667px;
    }
  }
  @media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
    html {
      font-size: 32px;
    }
  }
  body{
    font-size: 0.16rem;
  }