@charset "utf-8";
/* CSS Document */

div,a,span,img,h1,h2,h3,h4,p,input,textrea,button,body,ul,li,ol,dl,dt,dd,select,i{ margin:0; padding:0; list-style:none; border:0; font-style:normal;}
body{ background:#ececec; font-size:14px; min-width:320px; max-width:640px; margin:0 auto; line-height:1.5; color:#666; padding:50px 0;}
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:none; color:#666;}
/*------引用字体--------*/
@font-face{font-style:normal; font-family:'PingFang Regular';src:url(../../font/PingFang%20Regular.ttf) format('truetype');}
html,body{font-family:"PingFang Regular";}

/*------导航栏--------------------*/
.head_special{ background:#ff2d47; height:50px; width:100%; position:fixed; top:0; left:0; z-index:99;}
.head_special h4{ width:100%; text-align:center; line-height:50px; color:#fff; font-size:20px; position:absolute; top:0; left:0; font-weight:normal; z-index:-1;}
.head_special .back{ float:left; width:10%;}
.head_special .back a{ display:block; padding:10px;}
.head_special .back a span{ width:15px; height:20px; background:url(../images/left-icon.png) no-repeat left center; margin-top:5px; display:block; background-size:11px; margin-left:5px;}

/*------推荐品牌--------------------*/
.brands .title{ width:100%; position:relative;}
.brands .title .left{ border-bottom:1px solid #fd6d1f; width:25%; position:absolute; top:50%; left:5%;}
.brands .title .right{ border-bottom:1px solid #fd6d1f; width:25%; position:absolute; top:50%; right:5%;}
.brands .title h4{ text-align:center; line-height:2.4em;}
.brands .title h4 i{ margin-right:5px;}
.brands ul{ width:100%; overflow:hidden; padding:5px;}
.brands ul li{ float:left; width:25%; text-align:center; margin-bottom:5px;}

/*------分类tab--------------------*/
.tab{ width:100%;}
.tab h4{ width:100%; overflow:hidden; background:#fff;}
.tab h4 span{ width:33.33%; float:left; text-align:center; border:1px solid #ccc; line-height:40px; border-right:0;}
.tab h4 span:nth-child(1){ border-left:0;}
.tab h4 span.current{ border-bottom:2px solid #39bbfc;}
.tab h4 span img{ margin:0 5px 5px 0;}
.tab ul{ background:#fff; overflow:hidden;}
.tab ul li{ display:none; padding:5px;}
.tab ul li.current{ display:block;}

.tab ul li .all{ width:50%; float:left; padding:0.2em;}
.tab ul li .all .img{ position:relative;}
.tab ul li .all .name{ font-size:1.1em; line-height: 1.2em; height: 2.7em; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width:100%; padding:0.3em 0.5em 0.5em 0.5em;}
.tab ul li .all .price{ width:100%; padding:0.3em 0.3em 0.5em 0.3em; overflow:hidden;}
.tab ul li .all .price p{ float:left; color:#fc1828; font-weight:bold; font-size:15px;}
.tab ul li .all .price span{ float:right; background:#ef8e31; color:#fff; padding:1px 4px;}
.tab ul li .all .price span.blue{ background:#1eb081;}


@media (min-width:375px) and (max-width:413px){ 
	.brands .title h4,.tab h4 span{ font-size:17px;}

}

@media screen and (max-width:360px){ 
	.head_special h4{ font-size:17px;}
	.head_special .back a span{ width:12px; height:16px; background-size:9px; margin-top:8px;}
	.brands .title h4,.tab h4 span{ font-size:16px;}
	.tab ul li .all .name{ font-size:13px;}
	.tab ul li .all .price p{ font-size:14px;}
	.tab ul li .all .price span{ font-size:13px;}
}





















