@charset "utf-8";
/* CSS Document */

div,a,span,img,h1,h2,h3,h4,p,input,textrea,button,body,ul,li,ol,dl,dt,dd,select,i{ margin:0; padding:0; list-style:none; border:0; font-style:normal;}
body{ background:#ececec; font-size:14px; min-width:320px; max-width:640px; margin:0 auto; line-height:1.5; color:#666; padding:50px 0 60px 0;}
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:none; color:#666;}
@font-face{font-style:normal; font-family:'PingFang Regular';src:url(../../font/PingFang%20Regular.ttf) format('truetype');}
html,body,input{font-family:"PingFang Regular";}

/*------导航栏--------------------*/
.head_center{ background:#ff2d47; height:50px; width:100%; position:fixed; top:0; left:0; z-index:99;}
.head_center h4{ width:100%; text-align:center; line-height:50px; color:#fff; font-size:20px; position:absolute; top:0; left:0; font-weight:normal; z-index:-1;}

.head_center .back{ float:left; width:10%;}
.head_center .back a{ display:block; padding:10px;}
.head_center .back a span{ width:15px; height:20px; background:url(../images/left-icon.png) no-repeat left center; margin-top:5px; display:block; background-size:11px; margin-left:5px;}

/*------------消息列表-----------------*/
.messages{ margin-top:1.0rem; background:#fff; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding-left:1.0rem;}
.messages dl{ width:100%; overflow:hidden; border-bottom:1px solid #ccc; padding:0.5rem 0;}
.messages dl dt{ width:15%; float:left; height:0; padding-bottom:15%; margin-right:5%; position:relative;}
.messages dt span{ position:absolute; top:-3px; right:-3px; width:8px; height:8px; background:#ff2d47; border-radius:50%;}

.messages dl dd{ float:left; width:80%;}
.messages dd .nt{ width:100%; overflow:hidden;}
.messages .nt h4{ width:55%; float:left; font-size:1.1rem; line-height:2.0rem; font-weight:normal; color:#333; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.messages .nt span{ width:35%; float:right; font-size:0.9rem; line-height:2.0rem; text-align:center;}
.messages dd p{ font-size:1.0rem; line-height:2.0rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-right:1.0rem;}


@media (min-width:375px) and (max-width:413px){ 
	.messages .nt h4{ font-size:1.1rem; line-height:1.8rem;}
	.messages .nt span{ font-size:0.9rem; line-height:1.8rem;}
	.messages dd p{ font-size:1.0rem; line-height:1.8rem;}
}

@media screen and (max-width:360px){ 
	.head_center h4{ font-size:17px;}
	.head_center .back a span{ width:12px; height:18px; margin-top:7px; background-size:9px;}
	
	.messages .nt h4{ font-size:1.0rem; line-height:1.6rem;}
	.messages .nt span{ font-size:0.8rem; line-height:1.6rem;}
	.messages dd p{ font-size:0.9rem; line-height:1.6rem;}

}
