@charset "utf-8";
/* CSS Document */

div,a,span,img,h1,h2,h3,h4,p,input,textrea,button,body,ul,li,ol,dl,dt,dd,select,i{ margin:0; padding:0; list-style:none; border:0; font-style:normal;}
body{ background:#ececec; font-size:14px; min-width:320px; max-width:640px; margin:0 auto; line-height:1.5; color:#666; padding:50px 0 0 0;}
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:none; color:#666;}
@font-face{font-style:normal; font-family:'PingFang Regular';src:url(../../font/PingFang%20Regular.ttf) format('truetype');}
html,body,input{font-family:"PingFang Regular";}

/*------导航栏--------------------*/
.head_center{ background:#ff2d47; height:50px; width:100%; position:fixed; top:0; left:0; z-index:99; box-shadow:0 0 8px #000;}
.head_center h4{ width:100%; text-align:center; line-height:50px; color:#fff; font-size:20px; position:absolute; top:0; left:0; font-weight:normal; z-index:-1;}
.head_center .edit{ color:#fff; float:right; font-size:0.9rem; padding-right:1.0rem; line-height:55px;}

.head_center .back{ float:left; width:10%;}
.head_center .back a{ display:block; padding:10px;}
.head_center .back a span{ width:15px; height:20px; background:url(../images/left-icon.png) no-repeat left center; margin-top:5px; display:block; background-size:11px; margin-left:5px;}

/*------粉丝数量--------------------*/
.fans_num{ background:#ff2d47; color:#fff; padding-bottom:2.0rem;}
.fans_num p{ font-size:1.0rem; line-height:3.0rem; padding-left:1.0rem;}
.fans_num .num{ text-align:center;}
.fans_num .num h4{ font-size:2.0rem; font-weight:normal;}
.fans_num .num p{ font-size:0.9rem; line-height:1.5rem;}

/*------粉丝--------------------*/
.fans{ background:#fff; border-bottom:1px solid #ccc; border-top:1px solid #ccc; margin-top:1.0rem; padding-left:1.0rem;}
.fans dl{ width:100%; overflow:hidden; border-bottom:1px solid #ccc; padding:0.5rem 0;}
.fans dl dt{ float:left; width:15%; height:0; padding-bottom:15%; border-radius:50%; margin-right:5%;}
.fans dd{ float:left; width:80%;}
.fans dd h4{ font-size:1.0rem; font-weight:normal; line-height:2.0rem; width:25%; color:#333;}
.fans dd h4 i{ float:right;}
.fans dd h4 i.boy img{ height:1.0rem; margin-top:0.5rem;}
.fans dd h4 i.girl img{ height:1.2rem; margin-top:0.4rem;}
.fans dd p{ font-size:0.9rem; color:#999;}





@media (min-width:375px) and (max-width:413px){ 
	.head_center .edit{ font-size:0.9rem;}
	
	.fans_num{ padding-bottom:1.6rem;}
	.fans_num p{ line-height:2.2rem;}

	.fans dd h4{ line-height:1.8rem;}
	.fans dd h4 i.boy img{ height:0.9rem; margin-top:0.1rem;}
	.fans dd h4 i.girl img{ height:1.0rem; margin-top:0.1rem;}
}

@media screen and (max-width:360px){ 
	.head_center h4{ font-size:17px;}
	.head_center .edit{ font-size:0.8rem;}
	.head_center .back a span{ width:12px; height:18px; margin-top:7px; background-size:9px;}
	
	.fans_num{ padding-bottom:1.5rem;}
	.fans_num p{ font-size:0.9rem; line-height:2.5rem;}
	.fans_num .num h4{ font-size:1.6rem; font-weight:normal;}
	.fans_num .num p{ font-size:0.8rem; line-height:1.2rem;}

	.fans dd h4{ font-size:0.9rem; line-height:1.8rem;}
	.fans dd h4 i.boy img{ height:0.9rem; margin-top:0.1rem;}
	.fans dd h4 i.girl img{ height:1.0rem; margin-top:0.1rem;}
	.fans dd p{ font-size:0.8rem;}
}
























