@charset "utf-8";
/* CSS Document */

div,a,span,img,h1,h2,h3,h4,p,input,textrea,button,body,ul,li,ol,dl,dt,dd,select,i{ margin:0; padding:0; list-style:none; border:0; font-style:normal;}
body{ background:#ececec; font-size:14px; min-width:320px; max-width:640px; margin:0 auto; line-height:1.5; color:#555; padding:50px 0; padding-bottom:80px;}
a{ text-decoration:none; color:#555;}
a:hover{ text-decoration:none; color:#555;}
@font-face{font-style:normal; font-family:'PingFang Regular';src:url(../../font/PingFang%20Regular.ttf) format('truetype');}
html,body{font-family:"PingFang Regular";}

/*------导航栏--------------------*/
.head_order{ background:#ff2d47; height:50px; width:100%; position:fixed; top:0; left:0; z-index:99;}
.head_order h4{ width:100%; text-align:center; line-height:50px; color:#fff; font-size:20px; position:absolute; top:0; left:0; font-weight:normal; z-index:-1;}
.head_order .back{ float:left; width:10%;}
.head_order .back a{ display:block; padding:10px;}
.head_order .back a span{ width:15px; height:20px; background:url(../images/left-icon.png) no-repeat left center; margin-top:5px; display:block; background-size:11px; margin-left:5px;}

/*---------------订单订单号信息-------------------*/
.order_num{ background:#fff; border-bottom:1px solid #ccc; margin-bottom:0.5rem;}
.order_num .number{ font-size:16px; line-height:48px; border-bottom:1px solid #ccc; padding-left:10px;}
.order_num .name_ad{ width:100%; overflow:hidden; padding:0 10px; box-sizing:border-box; height:80px;}
.order_num .name_ad dt{ float:left; padding:5px 0; width:80%;}
.order_num .name_ad dt p{ font-size:16px; line-height:35px; padding-left:20px;}
.order_num .name_ad dt p.address{ padding-left:20px; background:url(../images/icon_address.png) no-repeat left center; background-size:15px; width:100%; overflow:hidden; white-space:nowrap;}
.order_num .name_ad dd{ float:right; line-height:80px; font-size:30px; color:#858585; width:5%;}

.order{ background:#fff; border-bottom:1px solid #ccc; border-top:1px solid #ccc; margin-bottom:0.5rem;}
.order .shop_name{ font-size:16px; line-height:48px; font-weight:normal; border-bottom:1px solid #ccc; padding:0 10px; box-sizing:border-box;}
.order .shop_name a{ float:right; color:#009944;}
.order .good_photo{padding:10px; box-sizing:border-box; border-bottom:1px solid #ccc; width:100%; overflow:hidden;}
.order .good_photo .photo{ float:left; width:26%;}
.order .good_photo .photo img{ display:block;}
.order .good_photo dl{ float:left; width:70%;}
.order .good_photo dl dt{ float:left; width:95%;}
.order .good_photo dl dt p{ line-height:22px; height:22px;}
.order .good_photo dl dt p.name{ font-size:16px; width:80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.order .good_photo dl dt p.price{ color:#ff2d47; font-weight:bold;}
.order .good_photo dl dd{ float:right; line-height:90px; font-size:30px; color:#858585; width:5%;}
.order .cost{ border-bottom:1px solid #ccc; padding:5px 12px; box-sizing:border-box;}
.order .cost p{ font-size:16px; line-height:32px;}
.order .cost p span{ float:right;}
.order .time_cost{ padding:0 10px; box-sizing:border-box;}
.order .time_cost dl{ width:100%; overflow:hidden; line-height:48px;}
.order .time_cost dt{ float:left; color:#858585;}
.order .time_cost dd{ float:right; font-size:16px;}
.order .time_cost dd span{ color:#ff2d47; font-weight:bold;}
/*------------支付方式--------------*/
.pay_method .title{ line-height:30px; padding-left:12px;}
.pay_method ul{ background:#fff; border-bottom:1px solid #ccc;}
.pay_method ul li{ border-top:1px solid #ccc; padding:0 12px; background:url(../images/quan.png) no-repeat 96% center; background-size:18px;}
.pay_method ul li.selected{background:url(../images/quan_click.png) no-repeat 96% center; background-size:18px;}
.pay_method ul li p{ font-size:16px; line-height:42px;}
.pay_method ul li p img{ display:inline-block; float:left; margin-top:14px; margin-right:5px;}
.pay_method ul li p span{ font-size:12px; color:#858585;}




/*-----------底栏去付款---------------*/
.btm_bar{ width:100%; overflow:hidden; position:fixed; bottom:0; left:0; height:50px;}
.btm_bar p{ font-size:17px; color:#fff; line-height:50px;}
.btm_bar p.total{ float:left; width:70%; background:#858585; text-align:right; padding-right:10%; box-sizing:border-box;}
.btm_bar p.pay{ float:left; width:30%; background:#fe576b; text-align:center;}



@media (min-width:375px) and (max-width:413px){ 
	.order .good_photo .photo{ width:28%;}
	.order .good_photo dl{ width:72%;}
}

@media screen and (max-width:360px){ 
	.head_order .back a span{ width:12px; height:17px; margin-top:7px; display:block; background-size:10px;}
	.head_order h4{font-size:18px;}
	
	.order_num .number{ font-size:15px; line-height:42px;}
	.order_num .name_ad{ height:70px;}
	.order_num .name_ad dt p{ font-size:15px; line-height:30px;}
	.order_num .name_ad dt p.address{ background-size:14px;}
	.order_num .name_ad dd{ font-size:25px; line-height:70px;}
	.order .shop_name{ font-size:15px; line-height:42px;}
	.order .good_photo .photo{ width:32%;}
	.order .good_photo dl{ width:68%;}
	.order .good_photo dl dd{ font-size:25px;}
	.order .cost p{ font-size:15px; line-height:30px;}
	.order .time_cost dl{ line-height:42px;}
	.order .time_cost dd{ font-size:15px;}
	.order .good_photo dl dt p{ font-size:13px;}
	.pay_method ul li p{ font-size:15px; line-height:40px;}
	.pay_method ul li p img{ margin-top:12px;}
}








